* {
    font-size: 25px;
    font-weight: bold;
}
body {
    margin: 0;
}
.app {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.label-input {
    display: flex;
    justify-content: space-between;
}
.container {
    background-color: rgba(0, 201, 0, 0.295);
}

input {
    flex: 1;
}

label {
    felx
}
